@import 'src/styles/theme/index.scss';

.modal-error {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $base-white-color;
  width: 90%;
  height: 10rem;
  border-radius: 20px;
  box-shadow: $base-shadow-card;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: $base-background-color;
    border: none;

    &:active {
      box-shadow: $base-shadow-active-btn;
    }

    & img {
      width: 24px;
      height: 24px;
    }
  }
}