@import 'src/styles/theme/index.scss';

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0 20px 20px;
  overflow: auto;

  &__btn-block {
    display: flex;
    gap: 1rem;

    & button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      font-weight: 600;
      font-size: 10px;
      line-height: 28px;
      width: 90px;
      height: 30px;
      border: none;
      background-color: $base-white-color;
      color: $base-text-color;

      &:hover,
      &:active {
        background: $base-yellow-color;
      }
    }

    & span {
      color: $base-text-color;
    }
  }
}