@import 'src/styles/theme/index.scss';

.credit-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__my-card {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: $base-text-color;
  }

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__card {
      background-color: $base-background-credit-card-color;
      width: 20rem;
      height: 10rem;
      box-shadow: $base-shadow-btn;
      border-radius: 20px;

      &__header {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
      }
    }
  }
}