@import 'src/styles/theme/index.scss';

.credit-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10px;
  background-color: $base-white-color;
  width: 40%;
  border-radius: 0px 20px;
  color: $base-text-color;
}