$base-text-color: #104E5B;
$base-text-gray-color: #BEBEBE;
$base-background-color: #F2F6F7;
$base-background-credit-card-color: #9C9C9C;
$base-black-color: #2B2D33;
$base-grey-color: #616F80;
$base-icon-color: #D1D1D1;
$base-yellow-color: #FDC27A;
$base-red-color: #FF6347;
$base-delivery-card-color: #FFE3C0;
$base-white-color: #FFFFFF;
$base-dollar-color: #99C932;
$base-grey-dashed-underline: 1px dashed $base-text-gray-color;
$base-shadow-btn: 0px 4px 5px rgba(0, 0, 0, 0.05);
$base-shadow-active-btn: 0px 4px 10px rgba(0, 0, 0, 0.1);
$base-shadow-card: 0px 4px 15px rgba(0, 0, 0, 0.05);