@import 'src/styles/theme/index.scss';

.credit-card {
  &__block {
    &__card {
      &__empty {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $base-text-color;
      }

    }
  }
}